<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> {% block title %}Wiki LoL{% endblock %}</title>
        <link rel="stylesheet" href="assets/styles/sass/style.css" />
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>